.card
  .devise
    %h2 プロフィール変更
    = form_with model: @user, url: user_registration_path, id: 'edit_user', class: 'edit_user', local: true do |f|
      = devise_error_messages!
      .field
        = f.label :nickname
        %br
        %i (最大6文字まで)
        %br
        = f.text_field :nickname, autofocus: true, maxlength: "6",class:"form"
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email" , class:"form"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        = f.label :password
        %br
        %i （6文字以上）
        %br
        %i 空欄であれば、パスワードは変更されません

        %br/
        = f.password_field :password, autocomplete: "new-password", class:"form"

      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", class:"form"
      .field
        = f.label "現在のパスワード(必須)"
        %br/
        %i 変更には、現在のパスワード確認が必要です
        %br/
        = f.password_field :current_password, autocomplete: "current-password", class:"form"
      .circle-avatar
        %img#avatar_img_prev.hidden{:src => "#"}/
        - if current_user && current_user.avatar?
          = image_tag current_user.avatar.to_s, class: 'avatar_present_img'
        - else
          = image_tag 'no_avatar.png', class: 'avatar_present_img'
          = f.hidden_field :avatar_cache
          %br
      .field
        = f.file_field :avatar, id: 'post_img',class:"form"

      .actions
      %br
        = f.submit "変更する", class:"btn"
 
