.field#error
= render 'layouts/error_messages', model: form.object
%br
.field
  = form.label :name
  %br
  %i.exp 最大16文字
  %br
  = form.text_field :name, placeholder: "   記事タイトル", class:"form"

.field
  .category
    .category-box
      .category-item
        %h3 シリーズ
      .category-item
        %h3 機種
    .category-box
      .category-one   
        = @post.category.parent.name
      .category-one
        = @post.category.name

.post-image
  %br
  %img#post_img_prev.hidden{:src => "#"}/
  - if @post.image.present?
    = image_tag @post.image.to_s, class: 'post_present_img'
  - else
    = image_tag 'no_image.png', class: 'post_present_img'
    = form.hidden_field :image_cache
  .field
    = form.file_field :image, id:"post_img", class: "form"


.field
  = form.label :text
  %br
  %i.exp＃を使ってタグを付けることができます
  %br  
  = form.text_area :text, placeholder: "（例）このスマホの良い所は○○です。                     　                                      　#便利スマホ" , rows: "10", class:"text_area"
  %br
  
  %br
  %br
.field
  = form.submit "更新する", class:"btn"