.content-post{:style => "background-image: url(#{post.image});"}
  = link_to post_path(post.id) do
    .covered
    = link_to user_path(post.user.id) do
      -if post.user.avatar.url.present?
        = image_tag post.user.avatar.url, width: "150px", hight: "150px" ,class:"avatar"
      -else
        = image_tag "no_avatar.png", width: "150px", hight: "150px" ,class:"avatar"
    .post-detail     
      .post-detail__text
        .post-detail__text__title
          = post.name
        .post-detail__text__description
          .post-detail__text__description__category
          - if post.category.present?
            = post.category.name
          .post-detail__text__descriptionn__nickname
            = post.user.nickname 