.card
  .content-one
    .field
      %h2
        = @post.name
    .field
      .category
        .category-box
          .category-item
            %h3 シリーズ
          .category-item
            %h3 機種
        .category-box
          .category-one   
            = @post.category.parent.name
          .category-one
            = @post.category.name
    .field
      .post-image
        = image_tag @post.image.url, width: "400px", hight: "400px" ,class:"image"
    .field
      .item-title
        %h3 本文 
      .post-text
        .post-text__text
        - if @post.text.include?"#"
          = simple_format(@post.text.gsub!(/[#＃][\w\p{Han}ぁ-ヶｦ-ﾟー]+/, ""))
        - else
          = simple_format(@post.text)

    .field
      .tag-and-user
        .tags
          %h3 タグ
          - if @post.tags.any?
            - @post.tags.each do |tag|
              .tag
                %br
                %p
                \##{tag.name}
          - else
            タグはありません
        .users 
          %h3 投稿者
          = image_tag @post.user.avatar.url, width: "150px", hight: "150px",class:"post-circle-avatar"
          %br
          = link_to  @post.user.nickname, "/users/#{@post.user.id}"
      
    .field
      .like
        .like-item
          .like-one
            %h3
              いいね件数: 
              = @post.likes.count
          .like-one
            - if current_user.already_liked?(@post)
              = button_to 'いいねを取り消す', post_like_path(@post), method: :delete,class: "btn"
            - else
              = button_to 'いいね', post_likes_path(@post),class: "btn"
        .like-item
          .like-one
            %h3 「いいね」ユーザー
          .like-one
          - if @post.liked_users.present?
            - @post.liked_users.each do |user|
              = user.nickname

          - else
            いいねした人はいません

    - if user_signed_in? && current_user.id == @post.user_id
      %ul.user-list
        %li
          = link_to '編集', "/posts/#{@post.id}/edit", method: :get, class:'btn'
        %li
          = link_to '削除', "/posts/#{@post.id}", method: :delete, class:'btn'
      
  .container
    .field
      - if current_user
        = form_with(model: [@post, @comment], local: true, id: "new_comment") do |form|
          = form.text_area :text, placeholder: "  コメント内容", rows: "2",class: "comment-form"
          = form.submit "コメントする", class: "btn"
      - else
        %strong
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .comments
      %br
      %h4 ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          .field
            %p
              %strong
              = link_to comment.user.nickname, "/users/#{comment.user_id}"
              &#058;
              = comment.text


