.card
  .content-one
    %h2
      = @post.name
    .category-parent
      = @post.category.parent.name
    .category-children
      = @post.category.name
    .post-image
      = image_tag @post.image.url, width: "400px", hight: "400px" ,class:"image"
    .post-text
      = simple_format(@post.text)
    %span.name
      = link_to  @post.user.nickname, "/users/#{@post.user.id}"
      -# = image_tag @post.user.avatar.url, width: "150px", hight: "150px" ,class:"avatar"
    - if user_signed_in? && current_user.id == @post.user_id
      %ul.user-list
        %li
          = link_to '編集', "/posts/#{@post.id}/edit", method: :get, class:'btn'
        %li
          = link_to '削除', "/posts/#{@post.id}", method: :delete, class:'btn'
  .container
    - if current_user
      = form_with(model: [@post, @comment], local: true, id: "new_comment") do |form|
        = form.text_area :text, placeholder: "コメント内容", rows: "2",class: "textbox"
        = form.submit "コメント", class: "form__submit"
    - else
      %strong
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .comments
      %h4 ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          %p
            %strong
              = link_to comment.user.nickname, "/users/#{comment.user_id}"
            = comment.text


            %a{:style => "background-image: url(#{post.image});"}


