!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %title みんなのスマホ
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{ontouchstart: ""}
    %header.header
      .title
        %h1.title__main
          = link_to "みんなのスマホ", root_path 
        %h2.title__sub
          = link_to "いろんなスマホの情報を共有しよう", root_path 
      .bg-mask
        .navbar
          .postnav
            - if user_signed_in?
              .postnav__item
                .menu#menu_hover_down
                  メニュー
                %ul
                  %li.bold#menu_hover_down
                    メニュー
                  %li
                    = link_to "投稿する", new_post_path
                  %li
                    = link_to "最新の投稿", root_path
                  %li
                    = link_to "#{current_user.nickname}の投稿", user_path(current_user.id)
                  %li
                    = link_to "プロフィール", edit_user_registration_path

            .postnav__item
              .menu
                シリーズ
              %ul
                %li.bold
                  シリーズ
                - @parents.each do |parent|
                  %li
                    = link_to "#{parent.name}", category_path(parent), class: "parent_category",id: "#{parent.id}"
          .usernav
            - if user_signed_in?
              .usernav__item
                = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
            - else
              .usernav__item
                = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                  .field
                    =f.hidden_field :email ,value: "guest@example.com"
                    =f.hidden_field :password ,value: "guest1234"
                  .actions
                    = f.submit "ゲストとしてログイン", class:"btn"
              .usernav__item
                = link_to "ログイン", new_user_session_path, class: 'btn'
              .usernav__item
                = link_to "新規登録", new_user_registration_path, class: 'btn'
    .wrapper
      = yield
    %footer
      %p
        Copyright minnano smartphone 2019.
